<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/circle_load.css" %}" />
    <title>
        {% block title %}
        Find Description
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
        <h1 class="center_" style="text-align: center; margin-bottom: 10px;">
            {% block header %}{% endblock %}
        </h1>
            {% block content %}{% endblock %}
        <div>
            {% block footer %}{% endblock %}
        </div>
    {% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>