{% extends 'base.html' %}
{% block title %}
Vlan traceroute
{% endblock %}
{% block header %}
    VLAN traceroute
{% endblock %}
{% block content %}
    <div style="text-align: left">
        <p style="margin: 5px">Всего оборудования имеется: {{ devs_count }}</p>
        <p style="margin: 5px">Из них VLAN'ов собрано: {{ intf_count }}</p>
    </div>
    <div class="center_">
        <div style="text-align: center">
            <div>
                <input type="text" class="input-search" id="vlan" style="text-align: center">
                <label class="search" for="input-search"></label>
            </div>
            <div style="margin-top: 20px">
                <label id="vlan-desc"></label>
            </div>
            <div style="text-align: right">
                <label>
                Показывать пустые порты
                <input type="checkbox" id="empty-ports">
            </label>
            </div>

            <div style="text-align: right">
                <label>
                Обозначать admin down порты тонкой линией связи
                <input type="checkbox" id="only-admin-up">
            </label>
            </div>

            <div id="load_circle" class="cssload-container" style="margin: 30px; padding-bottom: 20px; display: none">
                <div class="cssload-whirlpool"></div>
            </div>
        </div>
    </div>
    <div style="height: 100%" id="includedContent"></div>
    <div id="main-div" style="padding-bottom: 10px;">

        <div id="content-point" style="text-align: center; margin: 20px"></div>
    </div>

{% endblock %}

{% block javascript %}
<script src="/static/jquery.min.js"></script>

<script>

function show_map() {
    let vlan = document.getElementById('vlan').value
    let empty_ports = document.getElementById('empty-ports').checked
    let only_admin_up = document.getElementById('only-admin-up').checked
    document.getElementById('load_circle').style.display = 'block'
    if (!vlan){document.getElementById('load_circle').style.display = 'none';return}

    $.ajax({
        data: {'vlan': vlan},
        type: 'get',
        url: '/ajax/vlan_desc',
        success: function (resp) {
            console.log(resp)
            if (resp) {
                document.getElementById('vlan-desc').innerText = resp.vlan_desc
            } else {
                document.getElementById('vlan-desc').innerText = ''
            }
        },
        error: function (resp) {
            console.log('error', resp)
            document.getElementById('vlan-desc').innerText = ''
        }
    })



    $(function(){
      $("#includedContent").load(
          '/vlan_map?vlan=' + vlan + '&ep=' + empty_ports + '&ad=' + only_admin_up,
          function (response, status) {
              if (status === "success") {
                  document.getElementById('load_circle').style.display = 'none'
              }
          }
      );
    });
}

$(function(){
      $("#includedContent").load('/vlan_map?vlan=1');
});

$("#vlan").keyup(function(event) {
    if (event.keyCode === 13) {
        show_map();
    }
});

</script>

{% endblock %}