{% extends "base.html" %}
{% load static %}
{% block title %}
MAC decode
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/mac_page.css" %}" />
{% endblock %}
{% block content %}

    <div id="mac-element" style="text-align: center" class="mac-element">
        <input id="mac" type="text" required placeholder="00:00:00:00:00:00" maxlength="17" value="{{ mac|default_if_none:'' }}">
    </div>

    <div id="result" class="block_hide">
        <div class="back">
            <div id="vendor" class="vendor block_hide">
                <h1>
                    vendor
                </h1>
                <div></div>
                <p id="vendor_name">

                </p>
            </div>

            <div id="zabbix" class="zabbix block_hide">
                <h1>
                    zabbix
                </h1>
                <div></div>
                <p id="zabbix_host_name">

                </p>
            </div>

            <div id="info" class="info block_hide">
                <h1>
                    IP/VLAN
                </h1>
                <div></div>
                <p id="info_ip"></p>
                <p id="info_mac"></p>
                <p id="info_vlan"></p>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
<script src="/static/jquery.min.js"></script>
<script>
function start_mac_search (){
    let macAddress = $('#mac').val().replace(/[^A-Za-z0-9]/g,"").substring(0,12);

    if (macAddress.length === 12) {
        $('#info').removeClass('block_visible').addClass('block_hide')
        $('#zabbix').removeClass('block_visible').addClass('block_hide')
        $('#vendor').removeClass('block_visible').addClass('block_hide')
        $('#mac-element').addClass('load_border')
        get_vendor(macAddress)
        get_from_arp(macAddress)

    } else {
        $('#result').removeClass('block_visible').addClass('block_hide')
        $('#mac-element').removeClass('load_border')
    }
}

$(function (){
    $('#mac').on('input', start_mac_search)
})

{% if mac %}
start_mac_search()
{% endif %}

function get_vendor(macAddress) {
    $.ajax({
        type: 'get',
        url: '/ajax/mac_vendor/' + macAddress,
        success: function (response) {
            $('#vendor_name').html(response.vendor)
            $('#vendor').removeClass('block_hide').addClass('block_visible')
            $('#result').removeClass('block_hide').addClass('block_visible')
        }
    })
}

function get_from_arp(macAddress) {
    $.ajax({
        type: 'get',
        url: '/ajax/mac_info/' + macAddress,
        success: function (response) {
            if (response.info.length) {
                $('#info_ip').html(response.info[0])
                {#$('#info_vlan').html(response.info[0][1])#}

            } else {
                $('#info_ip').html('В нашей сети MAC не найден')
                $('#info_vlan').html('')
            }

            $('#mac-element').removeClass('load_border')
            $('#info').removeClass('block_hide').addClass('block_visible')
            $('#result').removeClass('block_hide').addClass('block_visible')

            if (response.zabbix.length) {
                let zabbix_info = ''
                for ( let i=0; i<response.zabbix.length; i++ ) {
                    zabbix_info += '<p><a target="_blank" href="http://10.100.0.50/zabbix/hostinventories.php?hostid='+response.zabbix[i][1]
                        +'">> '+response.zabbix[i][0]+' <</a></p>'
                }
                //console.log(zabbix_info)
                $('#zabbix_host_name').html(zabbix_info).css({'top': 0})
                $('#zabbix').css({'height': (35+52*response.zabbix.length)+'px'}).removeClass('block_hide').addClass('block_visible')
            } else {
                $('#zabbix').removeClass('block_visible').addClass('block_hide')
            }
        },
        error: function (resp) {
            console.log(resp)
            $('#mac-element').removeClass('load_border')
        }
    })
}

</script>
{% endblock %}